<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %><br>
    <small><%= comment.created_at %></small>
    <hr>
  </p>
<% end %>